/*
 * GitPitch Slideshow Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */

.reveal pre code {
  font-size: 0.8em;
  /* line-height: 1.2;
  max-height: 50vh !important;
  border-radius: 10px; */
}

.reveal h1 { font-size: 1.8em; }
.reveal h2 { font-size: 1.2em; }
.reveal h3 { font-size: 1.2em; }
.reveal p { font-size: 0.8em; }
.reveal li { font-size: 0.8em; }
